<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/user/register" method="post">
    <input type="text" name="name" required
      placeholder="Enter Your Name">
    <input type="email" name="email" required
      placeholder="Enter Your Email">
    <input type="password" name="password"
      required placeholder="Enter Your Password">
    <input type="submit" value="Submit">
  </form>
</body>

</html>